<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="5">
      <ion-img src=" {{data.image}}"></ion-img>
    </ion-col>
    <ion-col size="7">
      <ion-text class="title">
        <p>
          {{data.title}}
        </p>
      </ion-text>

      <div class="progress-container">
        <circle-progress [percent]="85" [showSubtitle]="false" titleFontSize="1" unitsFontSize="1"
          titleFontWeight="bold" unitsColor="#fff" unitsFontWeight="bold">
        </circle-progress>
      </div>

      <ion-text class="description">
        <ion-label>
          Sinopse
        </ion-label>
        <p>
          {{data.description}}
        </p>
      </ion-text>

      <ion-text class="producer">
        <ion-label>
          Criação
        </ion-label>

        <div class="badge">
          <p>{{data.creator}}</p>
        </div>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>