<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="5">
      <ion-img src=" {{data.image}}"></ion-img>
    </ion-col>
    <ion-col size="7">
      <ion-text class="title">
        <p>
          {{data.title}}
        </p>
      </ion-text>

      <div class="flex">
        <div class="progress-container">
          <circle-progress [showSubtitle]="false" titleFontSize="16" titleColor="#fff" unitsFontSize="16"
            titleFontWeight="bold" unitsColor="#fff" unitsFontWeight="bold">
          </circle-progress>

          <ion-text class="evaluation-text">
            <p>Avaliação dos usuários</p>
          </ion-text>
        </div>

        <ion-button size="small" (click)="handleFavorite(data.id)">
          <ion-icon [color]="favorite ? 'secondary' : 'white'" [name]="favorite ? 'heart' : 'heart-outline'">
          </ion-icon>
        </ion-button>
      </div>


      <ion-text class="description">
        <ion-label>
          Sinopse
        </ion-label>
        <p>
          {{data.description}}
        </p>
      </ion-text>

      <ion-text class="producer">
        <ion-label>
          Criação
        </ion-label>

        <div class="badge">
          <p>{{data.creator}}</p>
        </div>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
