ion-content {
  .detail {
    background-color: #151515;
  }

  .custom-skeleton {
    .padding {
      padding: 5px;
    }

    .radius {
      border-radius: 12px;
    }

    ion-skeleton-text {
      line-height: 13px;
    }

    .details-skeleton {
      display: flex;

      height: 250px;

      div {
        width: 48%;
        height: 100%;
        padding: 5px;

        position: relative;

        &:first-child {
          border-radius: 12px;
        }

        p {
          &:last-child {
            position: absolute;
            bottom: 0;
            width: 100%;
          }
        }
      }
    }

    .list-skeleton {
      .items-skeleton {
        display: flex;
        justify-content: space-between;

        ion-skeleton-text {
          height: 150px;

          margin: 5px;

          border-radius: 12px;
        }
      }
    }
  }

  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }
}
