ion-header {
  ion-text {
    > span {
      font-family: "Nunito Sans", sans-serif !important;
      font-style: normal;
      font-weight: normal;

      line-height: 19px;

      letter-spacing: -0.333333px;
    }
  }
}
