<ion-header *ngIf="showHeader">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-logo-illustration></app-logo-illustration>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-align-items-center">
      <ion-col size="4" id="home">
        <ion-button (click)="handleClick('home')">
          <ion-text [color]='typePage === 0 ? "secondary" : "tertiary"'>
            <span>
              Início
            </span>
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="4" id="movie">
        <ion-button (click)="handleClick('movie')">
          <ion-text [color]='typePage === 1 ? "secondary" : "tertiary"'>
            <span>
              Filmes
            </span>
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="4" id="serie">
        <ion-button (click)="handleClick('serie')">
          <ion-text [color]='typePage === 2 ? "secondary" : "tertiary"'>
            <span>
              Séries
            </span>
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>