ion-header {
  ion-text {
    > span {
      font-family: "Nunito Sans", sans-serif !important;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;

      line-height: 19px;

      letter-spacing: -0.333333px;
    }
  }

  ion-button {
    --background: none;
    --box-shadow: none;

    text-transform: initial;

    color: var(--ion-color-tertiary);

    transition: all 0.3s ease-in-out;
  }

  .active {
    border-bottom: 1px solid var(--ion-color-secondary);

    transform: scaleX(1);
    transform-origin: 100% 50%;

    color: var(--ion-color-secondary);
  }
}
