<ion-header *ngIf="showHeader">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-logo-illustration></app-logo-illustration>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-align-items-center">
      <ion-col size="4" [class]='typePage === "home" ? "active" : "header-option"'>
        <ion-button (click)="handleClick('home')">
          <ion-text>
            <span>
              Início
            </span>
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="4" [class]='typePage === "movie" ? "active" : "header-option"'>
        <ion-button (click)="handleClick('movie')">
          <ion-text>
            <span>
              Filmes
            </span>
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="4" [class]='typePage === "serie" ? "active" : "header-option"'>
        <ion-button (click)="handleClick('serie')">
          <ion-text>
            <span>
              Séries
            </span>
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>