ion-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  ion-row {
    width: 100%;
    height: 50vh;

    svg {
      animation-delay: 1s;
    }

    &:first-child {
      align-items: flex-end;
    }

    div.ld {
      &.ld-dim {
        animation-duration: 1.5s;
      }
    }
  }
}
