<div class="content">
  <div *ngIf="title" class="title ion-margin-vertical">
    <span>{{title}}</span>
  </div>

  <ion-slides [options]="sliderOptions" [pager]="sliderOptions.pager">
    <ion-slide *ngFor="let item of items" [class]="type" (click)="handleClick(item.id)">
      <div class="gradiant top"></div>
      <div class="gradiant bottom"></div>
      <ion-img [src]="item.image" class="slider-image"></ion-img>
      <div *ngIf="item.character" class="actor">
        <ion-text>
          <p class="name">{{item.name}}</p>
        </ion-text>
        <ion-text>
          <p class="character">{{item.character}}</p>
        </ion-text>
      </div>

      <div *ngIf="item.evaluation && item.name" class="recommendations">
        <ion-text>
          <p class="name">{{item.name}}</p>
        </ion-text>

        <ion-text>
          <p class="evaluation">
            {{item.evaluation}}%
          </p>
        </ion-text>

      </div>
    </ion-slide>
  </ion-slides>
</div>
