<div class="content">
  <div *ngIf="title" class="title ion-margin-vertical">
    <span>{{title}}</span>
  </div>

  <ion-slides [options]="sliderOptions" [pager]="sliderOptions.pager">
    <ion-slide *ngFor="let item of items" [class]="type">
      <div class="gradiant top"></div>
      <div class="gradiant bottom"></div>
      <ion-img [src]="item.image" class="slider-image"></ion-img>
      <div *ngIf="item.character" class="info">
        <p class="name">{{item.name}}</p>
        <p class="character">{{item.character}}</p>
      </div>
    </ion-slide>
  </ion-slides>
</div>