<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-searchbar placeholder="O que você quer pesquisar?" color="primary" [(ngModel)]="currentSearch"
          (ionChange)="searchItem()">
        </ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ul *ngIf="filteredSearch.length > 0; else noSearch">
          <li *ngFor="let search of filteredSearch">
            <app-card-search title="{{search.title}}" image="{{search.image}}" description="{{search.description}}"
              producer="{{search.producer}}"></app-card-search>
          </li>
        </ul>

        <ng-template #noSearch>
          <ion-row>
            <ion-col size="12" class="feedback-icon">
              <app-feedback-illustration *ngIf="currentSearch === ''; else notFound" messsage="Busque um filme ou série"
                type="search">
              </app-feedback-illustration>
              <ng-template #notFound>
                <app-feedback-illustration messsage="Não encontramos o que deseja" type="notFound">
                </app-feedback-illustration>
              </ng-template>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>