// https://fonts.google.com/specimen/Baloo+Bhaina+2?preview.text_type=custom÷
@import "https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap";

ion-app {
  font-family: "Baloo Bhaina 2", cursive;
  white-space: pre-wrap;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
}
