<ion-content>
  <ion-grid>

    <ion-row class="header">
      <ion-col size="12">
        <app-logo-illustration></app-logo-illustration>
      </ion-col>
      <ion-col size="6">
        <ion-text color="tertiary">
          <p>Favoritos</p>
        </ion-text>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>

    <ion-row class="list" *ngIf="!fetch && !emptyFavoriteList">
      <ion-col *ngFor="let fav of favorites" size="6">
        <ion-img [src]="fav.image" (click)="handleClick(fav.id)"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-end" *ngIf="!fetch && emptyFavoriteList" style="margin: 10% auto;">
      <ion-col>
        <app-feedback-illustration messsage="Você não tem filmes ou séries favoritadas!" type="notFound">
        </app-feedback-illustration>
      </ion-col>
    </ion-row>

    <div *ngIf="fetch">
      <div class="custom-skeleton">
        <div class="list-skeleton">

          <div class="items-skeleton">
            <ion-skeleton-text animated></ion-skeleton-text>

            <ion-skeleton-text animated></ion-skeleton-text>
          </div>

          <div class="items-skeleton">
            <ion-skeleton-text animated></ion-skeleton-text>

            <ion-skeleton-text animated></ion-skeleton-text>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>