ion-row{
  &.header{
    margin: 0px 0px 15px;

    ion-text {
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: -0.333333px;
        margin: 0px;
      }
    }
  }

  &.list{
    ion-col {
      --ion-grid-column-padding: 4px;

      margin-bottom: 13px;

      ion-img {
        width: 100%;
        height: 200px;
    
        &::part(image) {
          object-fit: cover;
    
          border-radius: 4px;
        }
      }
    }
  }


  .custom-skeleton {
    .padding {
      padding: 5px;
    }
  
    ion-skeleton-text {
      line-height: 13px;
    }
  
    .list-skeleton {
      width: 100%;
      .items-skeleton {
        display: flex;
        justify-content: space-between;
  
        ion-skeleton-text {
          height: 200px;
  
          padding: 4px;

          margin-bottom: 13px;
  
          border-radius: 8px;
        }
      }
    }
  }
  
  // .custom-skeleton ion-skeleton-text:last-child {
  //   margin-bottom: 5px;
  // }
  
}
