.custom-skeleton {
  .padding {
    padding: 5px;
  }

  .radius {
    border-radius: 12px;
  }

  ion-skeleton-text {
    line-height: 13px;
  }

  .list-skeleton {
    .items-skeleton {
      display: flex;
      justify-content: space-between;

      ion-skeleton-text {
        height: 150px;

        margin: 5px;

        border-radius: 12px;
      }
    }
  }
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}
