<ion-content class="ion-no-padding ion-margin">
  <ion-grid *ngIf="!fetch" class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <app-banner [bannerList]="banners"></app-banner>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12">
        <app-card-carrousel [title]="Meus Favoritos" [cardList]="movies"></app-card-carrousel>
      </ion-col>
    </ion-row> -->

    <ion-row *ngIf="categories?.premieres?.list.length">
      <ion-col size="12">
        <app-card-carrousel [title]="categories.premieres.title" [cardList]="categories.premieres.list">
        </app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="categories?.movies?.list.length">
      <ion-col size="12">
        <app-card-carrousel [title]="categories.movies.title" [cardList]="categories.movies.list"></app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="categories?.exhibition?.list.length">
      <ion-col size="12">
        <app-card-carrousel [title]="categories.exhibition.title" [cardList]="categories.exhibition.list">
        </app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="categories?.evaluated?.list.length">
      <ion-col size="12">
        <app-card-carrousel [title]="categories.evaluated.title" [cardList]="categories.evaluated.list">
        </app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="categories?.series?.list.length">
      <ion-col size="12">
        <app-card-carrousel [title]="categories.series.title" [cardList]="categories.series.list"></app-card-carrousel>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="fetch">
    <div class="custom-skeleton">
      <div class="padding">
        <ion-skeleton-text animated style="height: 180px"></ion-skeleton-text>
      </div>


      <div class="list-skeleton">
        <ion-text>
          <h1 class="padding">
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </h1>
        </ion-text>

        <div class="items-skeleton">
          <ion-skeleton-text animated></ion-skeleton-text>

          <ion-skeleton-text animated></ion-skeleton-text>

          <ion-skeleton-text animated></ion-skeleton-text>
        </div>

        <ion-text>
          <h1 class="padding">
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </h1>
        </ion-text>

        <div class="items-skeleton">
          <ion-skeleton-text animated></ion-skeleton-text>

          <ion-skeleton-text animated></ion-skeleton-text>

          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
      </div>
    </div>

  </div>
</ion-content>