<ion-content class="ion-no-padding ion-margin">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <app-banner [bannerList]="banners"></app-banner>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12">
        <app-card-carrousel title="Meus Favoritos" [cardList]="movies"></app-card-carrousel>
      </ion-col>
    </ion-row> -->

    <ion-row *ngIf="categories?.premieres?.list.length">
      <ion-col size="12">
        <app-card-carrousel title="Próxima Estreias" [cardList]="categories.premieres.list"></app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="categories?.movies?.list.length">
      <ion-col size="12">
        <app-card-carrousel title="Filmes Bem Avaliados" [cardList]="categories.movies.list"></app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="categories?.series?.list.length">
      <ion-col size="12">
        <app-card-carrousel title="Series em Alta" [cardList]="categories.series.list"></app-card-carrousel>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>