<ion-content class="ion-no-padding ion-margin">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <app-banner [bannerList]="bannerList"></app-banner>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-card-carrousel title="Meus Favoritos" [cardList]="cardsMovie"></app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-card-carrousel title="Próxima Estreias" [cardList]="cardsMovie"></app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-card-carrousel title="Filmes Bem Avaliados" [cardList]="cardsMovie"></app-card-carrousel>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-card-carrousel title="Series em Alta" [cardList]="cardsMovie"></app-card-carrousel>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>